<%- include('../partials/header') %>
<div class = "edit">
  <div class = "book">
    <img class="front-cover" src = "/images/cover.jpg" alt= "book cover">
    <div class ="new-content">
    <h2>Enter a New Book</h2>
<form action="/books" method="POST">
	<label>Title:
	  <input type="text" name="title">
	</label><br><br>
    <label>Author:
        <input type="text" name="author">
      </label>
      <br><br>
	<label>Published:
	  <input type="text" name="publish">
	</label><br><br>
	<label>Description:
        <textarea type="text" name="description"> </textarea>
      </label><br><br>
	<label>Link to the book cover:
	  <input type="url" name="link">
	</label><br><br>
	<input type="submit" value="Add Book">
</form>
</div>
</div>
</body>
</html>