<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
  <nav>
      <div class="top-bar">
    <h2 class="heading">Bookmania</h2>
      </div>
    <div class="two-links">
    <a class ="main-links" href="/books/new" <%- title === 'Add Book' ? 'class="active"' : '' %>><span>Add Book</span></a>
    <a class ="main-links" href="/books" <%- title === 'All Books' ? 'class="active"' : '' %>><span>Books</span></a>
    </div>
  </nav>
  <main>
    <!-- <h1 class="list"><%= title %></h1> -->