@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

.main-container {
  height: 110vh;
  display: flex;
  /* background: #67b206; */
  padding: 2%;
  margin: 5%;
  /* width:100%; */
  justify-content: space-evenly; 
  border: 2px solid #800020;
  border-radius: 2%;

}


nav {
  display: inline;
}


nav > .main-links {
  margin: 0 auto;
  text-decoration: none;
  /* padding: 10px; */
  border-radius: 5px;
  text-align: center;
}

a.main-links {
  text-align: center;
  padding: 10px;
  margin: 4%;
  display: inline;
  font-size: 30px;
  background-color: white; 
  color: black; 
  border: 2px solid black;
}

a.main-links:hover {
  background-color: black;
  color: white;
}

a.main-links span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

div.two-links {
  margin-left: 35%;
  padding-top: 5%;
}

h2.heading {
  color: white;
  padding-left: 2%
}

h1.list {
  margin-left: 5.5%;


}

.top-bar {
  background-color: #800020;
  padding: 0.3%;
  margin: 0 auto;
}

a {
  color: #ffffff;
}

.container {
  /* width: calc(70%); */
  /* height: calc(18.9%); */
  margin: 15px; 
  position: relative;
  padding-right: 2%;
  border-color: teal;
  /* box-shadow: 5px 5px 5px rgba(0,0,0,.3); */
}

.delete{
  margin-bottom: 2%;
}

.grid {
  width: 140px;
  height: 180px;
  padding: 15px;
  border-radius: 5px;
  background: #800020;
  align-items: center;
}

.grid:hover {
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.829);
}

.second-container {
  
  height: 540px; 
  /* margin: auto; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; 
  margin: 0 auto;

}

.edit {
  min-height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.book {
  width: 400px;
  height: 550px;
  background-color: #F9D8A7;
  border-top: 3px solid #333;
  border-right: 3px solid #333;
  box-shadow: inset 280px 0 50px #d1b388, 0 20px 100px blue;
  transform-style: preserve-3d;
  transform: perspective(1500px);
}

/* .book:hover {
  width: 450px;
  height: 550px;
} */



.book img.front-cover {
  max-width: 400px;
  width: 100%;
  height: 100%;
  display: block;
  transform-origin: left;
  transition: transform 1s linear;
}

.book img.user-cover {
  max-width: 400px;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transform-origin: left;
  transition: transform 1s linear;
}

.book:hover img.user-cover {
  transform: rotateY(-160deg);
  /* max-width: 500px; */
  
  }

.book:hover img.front-cover {
transform: rotateY(-160deg);
/* max-width: 500px; */

}

.book div.new-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 20px;
}

.show {
  min-height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.review-container { 
  border: 5px solid #800020;
  border-radius: 10px;
  width: 600px;
  height: 150px;
  text-align: center;
        padding: 20px;
        align-items: center;
        margin: 0 auto;
}

.all-reviews {
  border: 5px solid #800020;
  border-radius: 10px;
        width: 600px;
        height: 250px;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: center;
        padding: 20px;
        align-items: center;
        margin: 0 auto;
}

.title-background{
  padding: 40px;
  background-color: #121212;  
}

.title-page {
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 40px;
  color: rgba(255,255,255,.70);
  margin-top: 150px;
  margin-bottom: 80px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}

/* Animation */
.title-page{
  animation: animated-text 2s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 590px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}


a.title-button {
  display: block;
  border-radius: 4px;
  background-color: #800020;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin:  0 auto;
  font-family: 'Source Code Pro', monospace;  
}

a.title-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

a.title-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

a.title-button:hover span {
  padding-right: 25px;
}

a.title-button:hover span:after {
  opacity: 1;
  right: 0;
}

/* #new-form {
  margin: auto;
  width: 10%;
  padding: 10px;
} */

div.new-content {
  border-radius: 5px;
  /* padding: 20px; */
  margin: auto;
  width: 60%;
  
}

/* #show-page {
  margin-left: 80px;
  text-align: center;
} */

/* #add-review-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
} */


table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding-right: 45px;
  padding-left: 45px;
  text-align: center;
}